name: Lint

on:
  pull_request:
    paths:
      - '**.el'
      - '.github/workflows/*.yml'
  push:
    paths:
      - '**.el'
      - '.github/workflows/*.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install Emacs and everything needed for makem"
        uses: emacs-magus/setup-makem@master
        with:
          emacs_version: 30.1
          os: ubuntu-latest
      - name: Lint
        run: makem.sh --check
